/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경 색상과 폰트 스타일 지정 */
body {
   
    background-color: #f0f0f5;
    color: #333;
    line-height: 1.6;
    font-family: 'Do Hyeon', sans-serif;
}

/* 헤더 스타일 */
header {
    background-color: #D8D8D8;
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    
}

header p {
    font-family: 'Do Hyeon', sans-serif; 
    font-size: 20px; 
}

/* 소개 섹션 스타일 */
section {
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px; /* 왼쪽으로 약간 이동 */

}

/* 각 섹션의 제목 스타일 */
h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-family: 'Do Hyeon', sans-serif; 
    font-size: 18px; 
}

/* 기술 목록 스타일 */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

/* 연락처 섹션 스타일 */
#contact p {
    font-size: 15px;
}



/* 캘린더 스타일 */
#calendar {
    position: fixed; /* 고정 위치 설정 */
    top: 300px; /* 상단에서의 거리 */
    right: 20px; /* 오른쪽에서의 거리 */
    width: 400px; /* 캘린더 너비 */
    height: auto; /* 자동 높이 */
    background-color: #f9f9f9; /* 배경색 */
    padding: 10px; /* 패딩 */
    
    border-radius: 8px; /* 둥글게 처리 */
    
    margin-right: 40px; /* 왼쪽으로 약간 이동 */

}


.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }

.close-btn, .toggle-btn {
  border: none;
  padding: 5px;
  cursor: pointer;
}

#calendar {
    display: block; /* 기본값: 열려 있음 */
}

#new-page-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    padding:15px 25px;
    font-size: 23px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #fecfc3; /* 버튼 배경색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#new-page-btn:hover {
    background-color: #FF4500; /* 호버 시 색상 변화 */
    font-family: 'Do Hyeon', sans-serif;

}