#root {
    width: 100vw; /* 전체 뷰포트 너비 */
    height: 100vh; /* 전체 뷰포트 높이 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
}


/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*제일 위에 제목 이름 */
body {
   
    background-color: #f0f0f5;
    color: #333;
    line-height: 1.6;
    font-family: 'Do Hyeon', sans-serif;
}

/* 제일 위에 배경 색 */
header {
    background-color: #D8D8D8;
    color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    
}

header p {
    font-family: 'Do Hyeon', sans-serif; 
    font-size: 20px; 
}

/* 소개 섹션 스타일 */
section {
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px; /* 왼쪽으로 약간 이동 */

}

/* 각 섹션의 제목 스타일 */
h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-family: 'Do Hyeon', sans-serif; 
    font-size: 18px; 
}



  /* 연락처 */
#contact p {
    font-size: 15px;
}



/* 캘린더 스타일 */
#calendar {
    position: fixed;
    top: 300px; 
    right: 20px;
    width: 400px; 
    height: 500px; 
    background-color: #f9f9f9;
    padding: 10px; 
    
    border-radius: 8px; 
    
    margin-right: 40px; 

}

/* 캘린더 스타일 */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
/* 캘린더 닫기버튼 */
.close-btn, .toggle-btn {
  border: none;
  padding: 5px;
  cursor: pointer;
}


/* 새로운 페이지 */
#new-page-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    padding:15px 25px;
    font-size: 23px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #fecfc3; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
/* 커서 올리면 색 바꾸기  */
#new-page-btn:hover {
    background-color: #FF4500; 
    font-family: 'Do Hyeon', sans-serif;

}


/* 새로운 페이지 */
#new-cat-btn {
    position: absolute;
    top: 100px;
    left: 30px;
    padding:15px 34px;
    font-size: 23px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #fecfc3; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
/* 커서 올리면 색 바꾸기  */
#new-cat-btn:hover {
    background-color: #FF4500; 
    font-family: 'Do Hyeon', sans-serif;

}
